    @import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
    @import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');

    body {
        font-family: 'Proxima Nova Condensed', sans-serif;
    }

    h1,
    h2,
    h3 {
        font-family: "Braah One", sans-serif;
    }

    .bg-theme-grey {
        background: #515151;
    }

    .bg-theme-blue {
        background: dodgerblue;
    }

    .bg-theme-red {
        background: red;
    }

    button {
        background: #E3C70B;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        box-shadow: 1px 2px 6px black;
    }

    input {
        color: black;
    }

    button:disabled,
    .disabled {
        background: #A9A9A9;
        color: #808080;
        box-shadow: none;
        cursor: not-allowed;
        opacity: 0.6;
    }


    .toast {
        opacity: 1 !important;
        background-color: #030303 !important;
    }

    .toast-success {
        background-color: #51A351 !important;
    }

    .toast-error {
        background-color: #BD362F !important;
    }

    .toast-info {
        background-color: #2F96B4 !important;
    }

    .toast-warning {
        background-color: #F89406 !important;
    }

    .toast-progress {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        background-color: #000 !important;
        ;
        opacity: .4;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
        filter: alpha(opacity=40)
    }

    .toast-close-button {
        box-shadow: none !important;
    }

    ::-webkit-scrollbar {
        width: 5px !important;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1 !important;
    }

    ::-webkit-scrollbar-thumb {
        background: #888 !important;
        border-radius: 5px !important;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555 !important;
    }


    /* Dashboard style */
    .authorizedComponent {
        display: block;
    }

    .unauthorizedComponent {
        display: none;
    }

    .main-center {
        display: flex;
        align-items: center;
    }

    .bg-sidebar {
        background: #000000;
    }

    .cta-btn {
        color: #000000;
    }

    .upgrade-btn {
        background: #AB312B;
    }

    .upgrade-btn:hover {
        background: #761b17;
    }

    .active-nav-link {
        background: #AB312B;
    }

    .nav-item:hover {
        background: #761b17;
    }

    .account-link:hover {
        background: #761b17;
    }

    .select2 {
        width: -webkit-fill-available !important;
    }
